<div id="budget-container">
  <div id="budget-form-container">
    <div id="budget-header"><h1>Create A New Budget</h1></div>

    <form id="budget-form">
      <div id="budget-name-field">
        <label for="budget-name"><h4 class="budget-label">Budget Name</h4></label>
        <input type="text" id="budget-name" placeholder="e.g., Groceries" />
      </div>

      <div id="budget-amount-field">
        <label for="budget-amount">
          <h4 class="budget-label">Amount</h4></label>
        <input type="text" id="budget-amount" placeholder="£200" />
      </div>

      <button type="submit" id="budget-btn">Create Budget</button>
    </form>
  </div>
</div>

{{#if budgets}}
  <div id="budget-table-container">
    <table id="budget-table">
      <tr>
        <th class="column-name">Budget Name</th>
        <th class="column-name">Budgeted Amount (£)</th>
        <th class="column-name">Amount Spent (£)</th>
        <th class="column-name">Remaining Budget (£)</th>
      </tr>
      {{#each budgets as |budget|}}
        <tr id="budget-tr" data-id="{{budget.id}}">
          <td id="budget-name-data">{{budget.name}}</td>
          <td class="budget-amounts">{{budget.amount}}</td>
          <td class="budget-amounts">{{budget.expense.amount}}</td>
          <td class="budget-amounts">{{remaining_budget
              budget.amount
              budget.expense.amount
            }}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/if}}

<script src="/js/budgetForm.js"></script>
