<div id="home-content">
  <div id="app-info-container">

    <div id="app-info">
      {{#if user}}
        <h1 class="greeting">Hi,
          <span id="username">
            {{user.name}}</span>
          👋
        </h1>

        <h1 class="loggedin-subheading"> Let’s get your finances on track!</h1>
      {{else}}
        <h1 class="subheading">Take Control Of</h1>
        <h1 class="finances-subheading">
          <span id="finances-heading">Your Finances</span>
        </h1>
      {{/if}}

      {{#if remainingBalance}}
        <div class="budget-chart-container">
          <canvas id="budgetChart"></canvas>

          <div id="financial-summary">
            <h5 id="budget-note">Spent
              <span id="totalExpense-amount">£{{totalExpense}}</span>
              of Your Budget 💸</h5>

            <h5 id="savings-note">Saved
              <span id="total-savings-amount">£{{remainingBalance}}</span>
              This Month 💰</h5>
          </div>
        </div>
      {{else}}
        <div id="app-overview">
          <p id="app-purpose">
            Mastering your budget can save you thousands each year.
          </p>

          <p id="call-to-action">Start your journey today 🚀</p>
        </div>

      {{/if}}

      {{#if logged_in}}
        <div class="signup-div">
          <button class="get-started-btn">View Financial Overview</button>
        </div>

      {{else}}
        <div class="signup-div">
          <button class="get-started-btn">Get Started!</button>
        </div>
      {{/if}}
    </div>

    <div id="finance-img">
      <img src="/images/finance.jpeg" alt="Personal Finance Tracker App" />
    </div>
  </div>
</div>

<script src="/js/getStarted.js"></script>

<script id="balance-data" type="application/json">
  {{jsonify remainingBalance}}
</script>

<script id="total-expenses" type="application/json">
  {{jsonify totalExpense}}
</script>

<script id="total-budget" type="application/json">
  {{jsonify totalBudget}}
</script>